/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.banner p {
  color: white;
  text-align: left;

}

h1 {
  color: white;
}

/*.btn-energize {
  display: inline-block;
  background-color: #5AB36D;
  padding: 16px 24px;
  border-radius: 20px;
  color: white;
}*/



.btn-energize {
    width: 320px;
    height: 20000px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn-energize:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn-energize:active {
    color: #000
}

.btn-energize:active:after {
    background: transparent;
}

.btn-energize:hover:before {
    opacity: 1;
}

.btn-energize:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.banner {
  padding: 200px;
  background-size: cover;
  background-position: center;
}

.container {
  width: 900px;
  margin: auto;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card img {
  width: 100px;
  height: 100px;
}

.card {
  width: 200px;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
}

.center-text {
  text-align: center;
}
